body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #0d1117;
  color: white;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
section {
  margin-bottom: 40px;
}
.container {
  min-width: 320px;
  max-width: 1180px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-bottom: 80px;
}
.header-navigation {
  right: 0;
}

.header-menu {
  display: flex;
  gap: 15px;
}
.info-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.info-photo {
  background-color: rgb(0, 0, 0);
  border-radius: 40%;
}
.info-text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info-main-title {
  max-width: 352px;
}
.info-title {
  position: relative;
  max-width: 600px;
}
.info-text {
  max-width: 600px;
}
.info-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 550px;
  height: 1px;
  background-color: white;
}
.gallery-section,
.stack-section {
  display: flex;
  justify-content: center;
}

.gallery-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  perspective: 1200px;
  transform-style: preserve-3d;
  will-change: transform;
}
.gallery-list-item {
  width: 180px;
  height: 190px;
  border: 1px solid white;
  border-radius: 20px;
  overflow: hidden;
  transition: all 500ms;
  cursor: pointer;
  transform: rotateY(45deg);
}
.gallery-list-item:hover {
  width: 360px;
  border: 1px solid rgb(231, 227, 223);
  box-shadow: 1px 1px 1px rgb(223, 213, 213), 0 0 2em rgb(231, 227, 223),
    0 0 0.2em rgb(179, 177, 167);
  transform: rotateY(0deg);
}
.gallery-img {
  width: 360px;
  height: 190px;
}
.stack-wrapper,
.gallery-wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stack-title,
.gallery-title {
  margin: 0 auto;
  margin-bottom: 20px;
}
.stack-list {
  display: flex;
  gap: 20px;
}
.stack-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid white;
  border-radius: 15px;
}
